#map {
  height: 100%;
  width: 100%;
  flex: 1;
  background-color: gray;

  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .selectMarker {
    filter: hue-rotate(-150deg);
  }
}

.leaflet-popup {
  font-size: 1.6rem;
}
