.house__item {
  width: 100%;
  border: 0.5rem rgb(1, 94, 1) solid;
  background-color: rgb(2, 73, 2);
  padding: 1rem;
  box-shadow: 0.2rem 0.3rem 0.7rem rgb(9, 12, 0);
  border-radius: 1rem;
  position: relative;
  margin: 2rem 0rem;
  position: relative;

  :hover {
    cursor: pointer;
  }
}
.shadow {
  box-shadow: 0.1rem 0.1rem 0.6rem 0.8rem rgb(199, 238, 84);
  background-color: black;
  padding: 2rem;
}

.house__image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.house__Container {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
}

.house__details {
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border: 0.1rem solid black;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  background-color: rgb(1, 94, 1);
}

.house__notes {
  font-size: 1.4rem;
}

.house__posting {
  font-size: 1.4rem;
  text-align: right;

  a {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    background-color: rgb(1, 36, 1);
    box-shadow: 0.1rem 0.2rem 0.4rem black;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;

    :hover {
      cursor: zoom-in;
    }
  }
}
