@import "./house/house.module.scss";
@import "./map/map.module.scss";

@font-face {
  font-family: SophiaBella;
  src: url(./SophiaBella.ttf);
}

.App {
  height: 100vh;
  width: 100%;
  display: flex;
}

/////////////////SIDEBAR/////////////////

.sideBar {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  width: 30%;
  overflow: scroll;
  overflow-x: hidden;
  padding: 3rem;
  list-style: none;
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 15, 0),
    rgb(1, 36, 1)
  );
  h1 {
    font-family: SophiaBella;
    font-weight: 400;
    transform: scale(1.1);
    color: #eee;
    font-size: 4rem;
    text-align: center;
    background-color: rgb(4, 48, 32);
    padding: 1rem;
  }
}

.homesContainer {
  form {
    background-color: rgb(2, 73, 2);
    border: 0.5rem rgb(1, 94, 1) solid;
    border-radius: 1rem;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    span {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }
  select {
    font-family: inherit;
    font-size: 1.8rem;
    background-color: rgb(4, 48, 32);
    border-radius: 1rem;
    color: white;
    // width: 100%;
    padding: 0.5rem 2rem;
    cursor: pointer;

    option {
      cursor: pointer;
    }
  }
}
